Repository yahiaosama/authz-schema-sync-check: changes, and which pre-commit hooks are due for each by the changed paths.
All: authz-schema-sync-check, ruff-linting, ruff-format, mypy, poetry-check

authz-schema-sync-check:
  name: Check SpiceDB schema and models sync
  entry: poetry run authz-schema-sync-check
  language: system
  args:
  - --schema
  - authz_schema_sync_check/tests/fixtures/valid_schema.zed
  - --output
  - authz_schema_sync_check/tests/fixtures/valid_generated_file.py
  - --verbose
  - --colorized-diff=true
  ...

ruff-linting:
  name: ruff-linting
  description: Run 'ruff' for linting
  entry: /bin/bash -c 'cd authz_schema_sync_check && poetry run ruff check --force-exclude --fix --preview ./'
  pass_filenames: false
  language: system

ruff-format:
  name: ruff-format
  description: Run 'ruff' for formatting
  entry: /bin/bash -c 'cd authz_schema_sync_check && poetry run ruff format --force-exclude ./'
  pass_filenames: false
  language: system

mypy:
  name: mypy
  description: Run 'mypy' for type checking python code
  entry: /bin/bash -c 'cd authz_schema_sync_check && poetry run mypy ./'
  pass_filenames: false
  language: system

poetry-check:
  name: poetry-check
  language: system
  pass_filenames: false
  entry: /bin/bash -c 'cd authz_schema_sync_check && poetry check'

Create LICENSE
  LICENSE
Due: none

refactor: remove tree-sitter-spicedb as submodule and add it.
  .gitmodules
  tree-sitter-spicedb/.eslintrc.js
  tree-sitter-spicedb/.gitattributes
  tree-sitter-spicedb/.gitignore
  tree-sitter-spicedb/.npmignore
  tree-sitter-spicedb/Cargo.toml
  tree-sitter-spicedb/LICENSE
  tree-sitter-spicedb/README.md
  tree-sitter-spicedb/binding.gyp
  tree-sitter-spicedb/bindings/node/binding.cc
  tree-sitter-spicedb/bindings/node/index.js
  tree-sitter-spicedb/bindings/rust/build.rs
  tree-sitter-spicedb/bindings/rust/lib.rs
  tree-sitter-spicedb/grammar.js
  tree-sitter-spicedb/package.json
  tree-sitter-spicedb/pnpm-lock.yaml
  tree-sitter-spicedb/queries/highlights.scm
  tree-sitter-spicedb/queries/injections.scm
  tree-sitter-spicedb/queries/tags.scm
  tree-sitter-spicedb/src/grammar.json
  tree-sitter-spicedb/src/node-types.json
  tree-sitter-spicedb/src/parser.c
  tree-sitter-spicedb/src/tree_sitter/parser.h
  tree-sitter-spicedb/test/corpus/objects.txt
Due: none

chore: add tree-sitter-spicedb files to MANIFEST and pyproject.toml
  MANIFEST.in
  pyproject.toml
Due: poetry-check

refactor: move tree-siter-spicedb inside package
  authz_schema_sync_check/tree-sitter-spicedb/.eslintrc.js
  authz_schema_sync_check/tree-sitter-spicedb/.gitattributes
  authz_schema_sync_check/tree-sitter-spicedb/.gitignore
  authz_schema_sync_check/tree-sitter-spicedb/.npmignore
  authz_schema_sync_check/tree-sitter-spicedb/Cargo.toml
  authz_schema_sync_check/tree-sitter-spicedb/LICENSE
  authz_schema_sync_check/tree-sitter-spicedb/README.md
  authz_schema_sync_check/tree-sitter-spicedb/binding.gyp
  authz_schema_sync_check/tree-sitter-spicedb/bindings/node/binding.cc
  authz_schema_sync_check/tree-sitter-spicedb/bindings/node/index.js
  authz_schema_sync_check/tree-sitter-spicedb/bindings/rust/build.rs
  authz_schema_sync_check/tree-sitter-spicedb/bindings/rust/lib.rs
  authz_schema_sync_check/tree-sitter-spicedb/grammar.js
  authz_schema_sync_check/tree-sitter-spicedb/package.json
  authz_schema_sync_check/tree-sitter-spicedb/pnpm-lock.yaml
  authz_schema_sync_check/tree-sitter-spicedb/queries/highlights.scm
  authz_schema_sync_check/tree-sitter-spicedb/queries/injections.scm
  authz_schema_sync_check/tree-sitter-spicedb/queries/tags.scm
  authz_schema_sync_check/tree-sitter-spicedb/src/grammar.json
  authz_schema_sync_check/tree-sitter-spicedb/src/node-types.json
  authz_schema_sync_check/tree-sitter-spicedb/src/parser.c
  authz_schema_sync_check/tree-sitter-spicedb/src/tree_sitter/parser.h
  authz_schema_sync_check/tree-sitter-spicedb/test/corpus/objects.txt
Due: ruff-linting, ruff-format, mypy

refactor: update paths for tree-sitter-spicedb and add mypy/ruff configurations
  MANIFEST.in
  authz_schema_sync_check/parser.py
  mypy.ini
  pyproject.toml
  ruff.toml
Due: ruff-linting, ruff-format, mypy, poetry-check

refactor: remove generated test output file for authz schema sync check
  authz_schema_sync_check/test_output.py
Due: ruff-linting, ruff-format, mypy

refactor: adjust import order.
  authz_schema_sync_check/templates/types.py.jinja
Due: ruff-linting, ruff-format, mypy

refactor: reorder imports in valid_generated_file.py
  authz_schema_sync_check/tests/fixtures/valid_generated_file.py
Due: authz-schema-sync-check, ruff-linting, ruff-format, mypy

refactor: improve error handling for nonexistent output file in CLI
  authz_schema_sync_check/cli.py
  authz_schema_sync_check/tests/test_cli.py
Due: ruff-linting, ruff-format, mypy

refactor: update pre-commit hook to validate resources.py against schema.zed; update README.md
  .pre-commit-hooks.yaml
  README.md
Due: none

chore: untrack .vscode
  .vscode/settings.json
Due: none

chore: update .gitignore.
  .gitignore
Due: none

chore: remove MANIFEST.in
  MANIFEST.in
Due: none

docs: update README.md to simplify development instructions and remove outdated sections
  README.md
Due: none

feat: add template flexibility; use --outputs to specify multiple outputs with paths
  authz_schema_sync_check/cli.py
  authz_schema_sync_check/generator.py
  authz_schema_sync_check/tests/test_cli.py
  authz_schema_sync_check/tests/test_generator.py
Due: ruff-linting, ruff-format, mypy

feat: add main entry point for running the package as a module
  authz_schema_sync_check/__main__.py
Due: ruff-linting, ruff-format, mypy

feat: add typescript template
  authz_schema_sync_check/templates/types.ts.jinja
Due: ruff-linting, ruff-format, mypy

feat: enhance pre-commit hook to support multiple output files and TypeScript generation
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
Due: poetry-check

feat: add ResourceId type and update ResourcePermission to include resourceId
  README.md
  authz_schema_sync_check/templates/types.ts.jinja
  authz_schema_sync_check/tests/test_generator.py
Due: ruff-linting, ruff-format, mypy

feat: redefine ResourceId and ResourcePermission types to DRY
  README.md
  authz_schema_sync_check/templates/types.ts.jinja
  authz_schema_sync_check/tests/test_generator.py
Due: ruff-linting, ruff-format, mypy

feat: remove models.py
  models.py
Due: none

feat: enhance CLI to infer templates from file extensions and update documentation
  README.md
  authz_schema_sync_check/cli.py
  authz_schema_sync_check/templates/default_types.py.jinja
  authz_schema_sync_check/templates/default_types.ts.jinja
  authz_schema_sync_check/tests/test_cli.py
Due: ruff-linting, ruff-format, mypy

feat: update README and tests to use default template names for code generation
  README.md
  authz_schema_sync_check/cli.py
  authz_schema_sync_check/tests/test_cli.py
  authz_schema_sync_check/tests/test_generator.py
Due: ruff-linting, ruff-format, mypy

refactor: simplify ResourcePermission type to include resourceId and update related files
  README.md
  authz_schema_sync_check/py_resources.py
  authz_schema_sync_check/templates/default_types.ts.jinja
  authz_schema_sync_check/tests/test_generator.py
  authz_schema_sync_check/ts_resource.ts
Due: ruff-linting, ruff-format, mypy

refactor: remove white-space
  authz_schema_sync_check/templates/default_types.ts.jinja
Due: ruff-linting, ruff-format, mypy

refactor: end with a newline for ts and generate
  authz_schema_sync_check/templates/default_types.ts.jinja
  authz_schema_sync_check/ts_resource.ts
Due: ruff-linting, ruff-format, mypy

refactor: optimize line splitting in get_diff function
  authz_schema_sync_check/git_utils.py
Due: ruff-linting, ruff-format, mypy

chore: ensure files ends with a new line
  authz_schema_sync_check/templates/default_types.ts.jinja
  authz_schema_sync_check/ts_resource.ts
Due: ruff-linting, ruff-format, mypy

refactor: use keepends=True
  authz_schema_sync_check/git_utils.py
Due: ruff-linting, ruff-format, mypy

refactor: change line splitting to not keep ends in get_diff function
  authz_schema_sync_check/git_utils.py
Due: ruff-linting, ruff-format, mypy

refactor: update line splitting in get_diff function to keep ends
  authz_schema_sync_check/git_utils.py
Due: ruff-linting, ruff-format, mypy

refactor: update resource and permission handling in authz_schema_sync_check default py template
  authz_schema_sync_check/py_resources.py
  authz_schema_sync_check/templates/default_types.py.jinja
Due: ruff-linting, ruff-format, mypy

feat: add table_view definition and related permissions and make sure we convert snake_case to camelCase
  README.md
  authz_schema_sync_check/cli.py
  authz_schema_sync_check/generator.py
  authz_schema_sync_check/tests/fixtures/valid_generated_file.py
  authz_schema_sync_check/tests/fixtures/valid_schema.zed
  authz_schema_sync_check/tests/test_generator.py
  authz_schema_sync_check/tests/test_parser.py
Due: authz-schema-sync-check, ruff-linting, ruff-format, mypy

refactor: enhance permission handling by introducing subject type variable in ResourceCheck and SubjectCheck classes
  authz_schema_sync_check/py_resources.py
  authz_schema_sync_check/templates/default_types.py.jinja
Due: ruff-linting, ruff-format, mypy

fix: mypy typing errors.
  README.md
  authz_schema_sync_check/py_resources.py
  authz_schema_sync_check/templates/default_types.py.jinja
  authz_schema_sync_check/tests/test_generator.py
Due: ruff-linting, ruff-format, mypy

refactor: update template to remove handling of DSL as the package should be dsl agnostic and should only parse the schema and generate types.
  README.md
  authz_schema_sync_check/py_resources.py
  authz_schema_sync_check/templates/default_types.py.jinja
  authz_schema_sync_check/tests/test_generator.py
Due: ruff-linting, ruff-format, mypy

refactor: simplify resource ID handling by removing ResourceId and only keep str
  README.md
  authz_schema_sync_check/py_resources.py
  authz_schema_sync_check/templates/default_types.py.jinja
  authz_schema_sync_check/tests/test_generator.py
Due: ruff-linting, ruff-format, mypy

refactor: remove unused import of Any
  README.md
  authz_schema_sync_check/templates/default_types.py.jinja
Due: ruff-linting, ruff-format, mypy

Path conditions:
  authz-schema-sync-check: any of: \.zed$|valid_generated_file\.py$
  ruff-linting: any of: ^authz_schema_sync_check/
  ruff-format: any of: ^authz_schema_sync_check/
  mypy: any of: ^authz_schema_sync_check/
  poetry-check: any of: ^pyproject.toml$|poetry.lock$
